.input-field {
  width: 100%;
  margin-bottom: 20px;

  /* ---------- TITLE ---------- */
  &__title {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 6px;
  }

  &__required {
    color: #ef4444;
    margin-left: 4px;
  }

  /* ---------- INPUT ---------- */
  &__wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 30px; // ⬅️ giảm từ 44px → 36px
    padding: 0 8px; // ⬅️ giảm padding
    border-radius: 6px; // ⬅️ gọn hơn
    border: 1.5px solid #e5e7eb;
    font-size: 13px; // ⬅️ chữ nhỏ hơn
    outline: none;
    transition: 0.2s ease;
    background: #fff;

    &::placeholder {
      color: #9ca3af;
      font-size: 13px;
    }

    &:focus {
      border-color: #2563eb;
      //   box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.12);
    }

    &--error {
      border-color: #ef4444;
      background: #fef2f2;

      &:focus {
        box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.15);
      }
    }
  }

  /* ---------- ERROR ICON ---------- */
  &__icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #ef4444;
    pointer-events: none;
  }

  /* ---------- ERROR TEXT ---------- */
  &__error {
    margin-top: 6px;
    font-size: 13px;
    color: #dc2626;
  }
}
